extends layout

block content
  div.container
    div.row
      h1.text-center View #{mission} Tasks
        a.pull-left(href='/managers' class='btn btn-info') Home
      hr
      div.col-md-6
        - each cluster in data
          p.lead Add task to group #{cluster.name}
          form(method='POST' action='/addtask')
            div.form-group
              input.form-control(name='task' placeholder='Task Description')
            input(type='hidden' name='group' value='#{cluster.id}')
            input(type='submit' class='btn btn-default btn-sm' value='Add Task')
            hr
      div.col-md-6
        h2.text-center Current Tasks
        - each cluster in data
          p.lead= cluster.name
          ul
            - each item in cluster.list
              li= item